// Named via http://chir.ag/projects/name-that-color

$colours: (
  cornflowerBlue: #6195ED,
  carrotOrange: #ee9830,
  thunderbird: #D22B20,
  tabasco: #A82010,

  gallery: #EEE,
  silver: #CCC,
  silverChalice: #AAA,
  doveGray: #666,

  mineShaft: #262626,
  white: #FFF
);